 html,
        body {
            height: 100%;
            width: 100%;
            padding: 0;
            margin: 0;
        }
        @font-face{
            font-family: "Segoe UI";
            src: url('../fonts/segoeuil.ttf');
        }
       

        
       

     
        #procurar{
            min-width: 30px;
            min-height: 50px;
            margin: 0 20px;
            position: absolute;
            left: -100px;
            

        }

        #social-midia {
            background-color:#f5d109;
            border:solid 1px;
            
            width:1380px;
        }

        #peças{
            background-color: #f5d109;
            height: 100px;
            width: 100px;
        }

        

        @media (max-width: 1024px) {
            .main-container{
                padding-top: 1%;
            }
            .image-central {
                padding-bottom: 30px;
            }
            
        }
